*{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    width: 100%;
    height: auto;
    background: rgb(244, 252, 255);
}

.head{
    padding: 4px;
    height: 20px;
    position: relative;
}
.time{
    position: absolute;
}
.h-l{
    float: right;
}
.batt{
    width: 20px;
    height: 10px;
    border: 1px solid black;
    margin: 4px;
    border-radius: 4px;
}
.batt::before{
    content: "";
    position: absolute;
    width: 1.5px;
    height: 4px;
    background-color: black;
    margin: 2px -3px;
}
.batt::after{
    content: "";
    position: absolute;
    width: 19px;
    height: 8px;
    margin: 1px 0;
    background-color: black;
    border-radius: 2px;
}
a{
    text-decoration: none;
}
.c-head{
    display: flex;
    margin: 30px 30px;
}
.c-user{
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 50%;
}
.c-user::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 13px;
    margin: 9px -5.5px;
    border: 2px solid black;
    border-bottom: 1px solid transparent;
    border-radius: 250%;
}
.c-user::before{
    content: '';
    position: absolute;
    width: 19px;
    height: 7.5px;
    margin: 17px -6px;
    background: rgb(244, 252, 255);
    z-index: 10;
}
.c-g{
    margin: 0 14px;
    font-size: 20px;
    line-height: -2px;
}
.c-g span{
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.c-h-l{
    display: flex;
    justify-content: right;
    width: 80%;
    position: absolute;
    height: auto;
}
.h-s{
    width: auto;
    height: auto;
    float: right;
}
.h-s::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid black;
}
.h-s::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    margin: 10px 0 0 14px;
    transform: rotate(-45deg);
    background: black;
}
.c-b-box{
    width: 80%;
    height: 180px;
    background-color: rgb(230, 248, 255);
    border-radius: 15px;
    box-shadow: -5px -5px 30px 0 white,10px 10px 10px rgb(204, 204, 204);
    margin: 40px auto;
}
.c-b-b-h{
    display: flex;
}
.c-b-box img{
    width: 140px;
}
.c-b-b-name{
    margin: 0 5px;
}
.c-b-b-name p:first-child{
    font-size: 30px;
}
.c-b-b-name p:last-child{
    font-size: 20px;
    margin: -20px 0;
}
.c-b-b-l{
    padding: 40px 0;
    text-align: right;
    width: 65%;
    position: absolute;
}
.c-b-b-l span{
    font-size: 50px;
}
.c-b-b-l span:last-child{
    font-size: 40px;
    margin: -10px 0;
    position: relative;
}
.c-mid{
    margin: 60px 50px;
    font-size: 20px;
}
.c-after,.c-a-a{
    display: flex;
    flex-wrap: wrap-reverse;
}
.c-b-1,.c-b-2,.c-b-3,.c-b-4{
    width: 40%;
    height: 180px;
    background-color: rgb(230, 248, 255);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 1px 0;
    margin:0 35px;
    box-shadow: -5px -5px 30px 0 white,10px 10px 10px rgb(204, 204, 204);
}
.c-b-1{
    flex: 1;
}
.c-b-1 p,.c-b-2 p,.c-b-3 p,.c-b-4 p{
    font-size: 28px;
    margin: 10px 0 10px 20px;
    font-weight: bolder;
}
.c-b-1 img ,.c-b-2 img,.c-b-3 img,.c-b-4 img{
    margin: 3px 20px;
    width: 65px;
}
.c-b-2 img{
    margin-top: -10px;
    width: 65px;
}
.c-b-1 span,.c-b-2 span,.c-b-3 span,.c-b-4 span{
    font-size: 40px;
    float: right;
    margin: -10px 20px 0 0;
}
.c-b-2{
    margin: 0 40px 0 0;
    flex: 1;
}
.c-b-3{
    margin-top: 30px;
    flex: 1;
    margin-right: 5px;
    margin-bottom: 30px;
}
.c-b-4{
    flex: 1;
    margin-bottom: 30px;
}
.c-b-bot{
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
}
.c-b-bot1{
    left: 0;
}
.c-b-bot3{
    right: 0;
}
@media only screen and (max-width:495px) {
    .c-b-b-l{
        margin: 70px 0;
    }
    .c-b-1,.c-b-2,.c-b-3,.c-b-4{
        max-width:150px;
        height: 160px;
        min-width: 50px;
    }
    .c-b-1 p,.c-b-2 p,.c-b-3 p,.c-b-4 p{
        font-size: x-large;
    }
    .c-b-1 img,.c-b-2 img,.c-b-3 img,.c-b-4 img{
        width: 50px;
    }
}
@media (max-width:320px){
    body{
        padding: 0;
    }
    .c-b-box{
        width: 90%;
        margin:0 0 -40px 10px;
        height: auto;
    }
    .c-b-box img{
        width: 100px;
    }
    .c-b-b-name{
        margin: -20px 0 0 0;
    }
    .c-b-b-l{
        margin: 0 0 0 60px;
        font-size: 0px;
    }
    .c-b-b-l span{
        font-size: 35px;
    }
    .c-after,.c-a-a{
        margin: -30px -20px 0 -20px;
    }
    .c-b-1{
        margin-right: 20px;
    }
    .c-a-a{
        margin-top: 0;
    }
    .c-b-3{
        margin-right: -10px;
    }
    

}
























/* KARACHI */
.sec1{
    font-size: 35px;
    margin: 0 0 0 20px;
    font-weight: bold;
}
.sec2{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2-c{
    width: 250px;
    height: 250px;
    background-color: rgb(244, 252, 255);
    box-shadow: 0px 0px 10px 0px white,10px 10px 10px 0 rgb(165, 165, 165);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2-c-2{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    border-radius: 50%;
    background: rgb(244, 252, 255);
    box-shadow: inset 0 0 10px 0px rgb(179, 179, 179);
}
.sec2-c-2c{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 40px solid blueviolet;
    border-bottom: 40px solid transparent;
    border-left: 40px solid transparent;
    border-top: 40px solid transparent;
    transform: rotate(-40deg);
}
.sec2-c-2c::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blueviolet;
    margin: -22px 0 0 70px;
}
.sec2-c-2c::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blueviolet;
    margin: 72px 0 0 70px;
}
.sec2-c-2c-t{
    transform: rotate(40deg);
    font-weight: bold;
    font-size: 40px;
    position: fixed;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0px rgb(141, 141, 141);
    background: rgb(244, 252, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2-c-2c-t p{
    margin: -5px 0 0 7px;
}
.sec2-c-2c-t span{
    margin: -20px 0 0 -2px;
}
.sec3{
    margin: 50px 0;
    width: 100%;
    display: flex;
    padding: 0 30px;
}
.sec3-m1{
    width: 17vw;
}
.sec3-m1-m,.sec3-m2-m,.sec3-m3-m,.sec3-m4-m{
    margin: 0px 0 40px 0;
    width: 15vw;
    height: 200px;
    background: brown;
}
.sec3-m1-m::before,.sec3-m2-m::before,
.sec3-m3-m::before,.sec3-m4-m::before{
    content: "";
    position: absolute;
    width: 6.43vh;
    margin: -33px 0;
    height: 15vw;
    border-radius: 50%;
    background: brown;
}
.sec3-m1-m::after,.sec3-m2-m::after,
.sec3-m3-m::after,.sec3-m4-m::after{
    content: "";
    position: absolute;
    width: 6.43vh;
    margin: 166px 0;
    height: 15vw;
    border-radius: 50%;
    background: brown;
}
.sec3-m2-m,.sec3-m3-m{
    margin-left: 10px;
}/* 
////////////////////////////////////////////////////////////////////////////////////////////////// */
/* *{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    width: 100%;
    height: auto;
    background: rgb(244, 252, 255);
}

.head{
    padding: 4px;
    height: 20px;
    position: relative;
}
.time{
    position: absolute;
}
.h-l{
    float: right;
    padding: 0ch;
}
.batt{
    width: 20px;
    height: 10px;
    border: 1px solid black;
    margin: 4px;
    border-radius: 4px;
}
.batt::before{
    content: "";
    position: absolute;
    width: 1.5px;
    height: 4px;
    background-color: black;
    margin: 2px -3px;
}
.batt::after{
    content: "";
    position: absolute;
    width: 19px;
    height: 8px;
    margin: 1px 0;
    background-color: black;
    border-radius: 2px;
}
a{
    text-decoration: none;
}
.c-head{
    display: flex;
    margin: 30px 30px;
}
.c-user{
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 50%;
}
.c-user::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 13px;
    margin: 9px -5.5px;
    border: 2px solid black;
    border-bottom: 1px solid transparent;
    border-radius: 250%;
}
.c-user::before{
    content: '';
    position: absolute;
    width: 19px;
    height: 7.5px;
    margin: 17px -6px;
    background: rgb(244, 252, 255);
    z-index: 10;
}
.c-g{
    margin: 0 14px;
    font-size: 20px;
    line-height: -2px;
}
.c-g span{
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.c-h-l{
    display: flex;
    justify-content: right;
    width: 80%;
    position: absolute;
    height: auto;
}
.h-s{
    cursor: pointer;
}
.h-s::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid black;
}
.h-s::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    margin: 10px 0 0 14px;
    transform: rotate(-45deg);
    background: black;
}
.c-b-box{
    display: block;
    width: 80%;
    height: auto;
    background-color: rgb(230, 248, 255);
    border-radius: 15px;
    box-shadow: -5px -5px 30px 0 white,10px 10px 10px rgb(204, 204, 204);
    margin: 40px auto;
}
.c-b-box img{
    width: 140px;
    position: relative;
}
.c-b-b-name{
    margin: 0 5px;
}
.c-b-b-name p:first-child{
    font-size: 30px;
}
.c-b-b-name p:last-child{
    font-size: 20px;
    margin: -20px 0;
}
.c-b-b-l{
    padding: 40px 0;
    text-align: right;
    width: 65%;
}
.c-b-b-l span{
    font-size: 50px;
}
.c-b-b-l span:last-child{
    font-size: 40px;
    margin: -6px 0;
    position: relative;
}
.c-mid{
    margin: 60px 50px;
    font-size: 20px;
}
.c-after,.c-a-a{
    display: flex;
    flex-wrap: wrap-reverse;
}
.c-b-1,.c-b-2,.c-b-3,.c-b-4{
    width: 40%;
    height: 180px;
    background-color: rgb(230, 248, 255);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 1px 0;
    margin:0 35px;
    box-shadow: -5px -5px 30px 0 white,10px 10px 10px rgb(204, 204, 204);
}
.c-b-1{
    flex: 1;
}
.c-b-1 p,.c-b-2 p,.c-b-3 p,.c-b-4 p{
    font-size: 28px;
    margin: 10px 0 10px 20px;
    font-weight: bolder;
}
.c-b-1 img ,.c-b-2 img,.c-b-3 img,.c-b-4 img{
    margin: 3px 20px;
    width: 65px;
}
.c-b-2 img{
    margin-top: -10px;
    width: 65px;
}
.c-b-1 span,.c-b-2 span,.c-b-3 span,.c-b-4 span{
    font-size: 40px;
    float: right;
    margin: -10px 20px 0 0;
}
.c-b-2{
    margin: 0 40px 0 0;
    flex: 1;
}
.c-b-3{
    margin-top: 30px;
    flex: 1;
    margin-right: 5px;
    margin-bottom: 30px;
}
.c-b-4{
    flex: 1;
    margin-bottom: 30px;
}
@media only screen and (max-width:495px) {
    .c-b-b-l{
        margin: 70px 0;
    }
    .c-b-1,.c-b-2,.c-b-3,.c-b-4{
        max-width:150px;
        height: 160px;
        min-width: 50px;
    }
    .c-b-1 p,.c-b-2 p,.c-b-3 p,.c-b-4 p{
        font-size: x-large;
    }
    .c-b-1 img,.c-b-2 img,.c-b-3 img,.c-b-4 img{
        width: 50px;
    }
}
@media (max-width:320px){
    body{
        padding: 0;
    }
    .c-b-box{
        width: 90%;
        margin:0 0 -40px 10px;
        height: auto;
    }
    .c-b-box img{
        width: 100px;
    }
    .c-b-b-name{
        margin: -20px 0 0 0;
    }
    .c-b-b-l{
        margin: 0 0 0 60px;
        font-size: 0px;
    }
    .c-b-b-l span{
        font-size: 35px;
    }
    .c-after,.c-a-a{
        margin: -30px -20px 0 -20px;
    }
    .c-b-1{
        margin-right: 20px;
    }
    .c-a-a{
        margin-top: 0;
    }
    .c-b-3{
        margin-right: -10px;
    }
    

}

























.sec1{
    font-size: 35px;
    margin: 0 0 0 20px;
    font-weight: bold;
}
.sec2{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2-c{
    width: 250px;
    height: 250px;
    background-color: rgb(244, 252, 255);
    box-shadow: 0px 0px 10px 0px white,10px 10px 10px 0 rgb(165, 165, 165);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2-c-2{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    border-radius: 50%;
    background: rgb(244, 252, 255);
    box-shadow: inset 0 0 10px 0px rgb(179, 179, 179);
}
.sec2-c-2c{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 40px solid blueviolet;
    border-bottom: 40px solid transparent;
    border-left: 40px solid transparent;
    border-top: 40px solid transparent;
    transform: rotate(-40deg);
}
.sec2-c-2c::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blueviolet;
    margin: -22px 0 0 70px;
}
.sec2-c-2c::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blueviolet;
    margin: 72px 0 0 70px;
}
.sec2-c-2c-t{
    transform: rotate(40deg);
    font-weight: bold;
    font-size: 40px;
    position: fixed;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0px rgb(141, 141, 141);
    background: rgb(244, 252, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2-c-2c-t p{
    margin: -5px 0 0 7px;
}
.sec2-c-2c-t span{
    margin: -20px 0 0 -2px;
}
.sec3{
    margin: 50px 0;
    width: 100%;
    display: flex;
    padding: 0 30px;
}
.sec3-m1{
    width: 17vw;
}
.sec3-m1-m,.sec3-m2-m,.sec3-m3-m,.sec3-m4-m{
    margin: 0px 0 40px 0;
    width: 15vw;
    height: 200px;
    background: brown;
}
.sec3-m1-m::before,.sec3-m2-m::before,
.sec3-m3-m::before,.sec3-m4-m::before{
    content: "";
    position: absolute;
    width: 6.43vh;
    margin: -33px 0;
    height: 15vw;
    border-radius: 50%;
    background: brown;
}
.sec3-m1-m::after,.sec3-m2-m::after,
.sec3-m3-m::after,.sec3-m4-m::after{
    content: "";
    position: absolute;
    width: 6.43vh;
    margin: 166px 0;
    height: 15vw;
    border-radius: 50%;
    background: brown;
}
.sec3-m2-m,.sec3-m3-m{
    margin-left: 10px;
} */
